.Leading-text{
  font-size: 3rem;
}

.airpods-innertext{
  position: absolute;
  left: 0;
  bottom: 5%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out;
}

@media (min-width: 768px) and (max-width: 991px) {

  .airpods-title-p{
    text-align: center;
    margin-bottom: 3rem;
  }

  .Leading-text{
    font-size: 5rem;
  }

  .Airpods-textContents{
    text-align: center;
  }

  .airpods-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 兩列佈局 */
    grid-template-rows: auto auto; /* 行的高度由內容決定 */
    gap: 10px; /* 格子之間的間隙 */
  }
  
  .image-main {
    grid-column: 1 / span 1; /* 主圖片佔滿兩列 */
    grid-row: 1; /* 位於第一行 */
  }
  
  .text-top {
    grid-column: 2; /* 位於第一列 */
    grid-row: 1; /* 位於第二行 */
  }
  
}

@media (min-width: 992px){
  .airpods-title-p{
    text-align: center;
    margin-bottom: 5rem;
  }

  .Leading-text{
    font-size: 8rem;

  }
  
  .airpods-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 兩列佈局 */
    grid-template-rows: auto auto; /* 行的高度由內容決定 */
    gap: 10px; /* 格子之間的間隙 */
  }
  
  .image-main {
    grid-column: 1 / span 1; /* 主圖片佔滿兩列 */
    grid-row: 1; /* 位於第一行 */
  }
  
  .text-top {
    grid-column: 2; /* 位於第一列 */
    grid-row: 1; /* 位於第二行 */
  }
}