.Dashboard-container{
  display: flex;
  flex-direction: column;
}

.Dashboard-table-width{
  width: 100%;
}

@media (min-width: 768px){
  .Dashboard-container{
    flex-direction: row;
  }
  .Dashboard-list{
    height: 100vh;
  }
  .Dashboard-table-width{
    width: 82%;
  }
}

@media (min-width: 992px) {
  .Dashboard-list{
    height: 100vh;
  }
  .Dashboard-table-width{
    width: 100%;
  }
}