
.cart {
  position: absolute;
  top: 8px;
  right: 0;
  color: #000;
}
.cart-badge{
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, 20%);
}
.cart-icon{
  font-size: 2.5rem;
}

.navbar-1 {
  z-index: 1000;
  position: fixed;
  top: -1%;
  left: 0;
  translate: 0 -72px;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  width: 100%;
  transition: 0.3s;
  background-color: #fff;
}

.navbar-1.visible {
  top: 0;
  translate: 0;
}

.navbar-1 > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-items {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* padding-top: 25px; */
  padding: 3px 0;
}

.nav-items > a {
  justify-content: end;
  text-decoration: none;
  color: #000;
  height: 72px;
  display: grid;
  place-items: center;
}

.nav-items > a:hover {
  color: $info;
}

.submenu-item:hover {
  background: #000;
}

/* 平板裝置介面的樣式 */
@media (min-width: 768px) and (max-width: 991px) {
  .cart {
    position: static;
    color: #000;
  }
  .cart-badge{
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, 10%);
  }
  .cart-icon{
    font-size: 2rem;
  }

  .navbar-1 {
    z-index: 1000;
    position: fixed;
    top: -1%;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    transition: 0.3s;
    background-color: #fff;
  }
}

/* 電腦介面的樣式 */
@media (min-width: 992px){
  .cart {
    position: static;
    color: #000;
  }

  .cart-icon{
    font-size: 2rem;
  }

  .navbar-1 {
    z-index: 1000;
    position: fixed;
    top: -1%;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    transition: 0.3s;
    background-color: #fff;
  }
}