
.ProductDetail-carousel{
  height: 380px;
}

/* 為前一張、下一張按鈕添加濾鏡 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

/* 修改輪播指示器活動條（當前顯示的幻燈片）的背景顏色 */
.carousel-indicators .active {
  background-color: $primary; /* 活動條的背景顏色 */
}


/* 平板裝置介面的樣式 */
@media (min-width: 768px) and (max-width: 991px) {
  .ProductDetail-carousel{
    height: 550px;
  }
}

/* 電腦介面的樣式 */
@media (min-width: 992px){
  .ProductDetail-carousel{
    height: 600px;
  }
}