.sticky-zoom-container {
  position: -webkit-sticky;
  display: flex;
  align-items: center;
  position: sticky;
  top: 1%;
  height: 360vh;
  overflow: hidden;
}

.sticky-image {
  position: relative;
  /* 設置初始寬度較小 */
  width: 30%; /* 根據您的需求調整此值 */
  height: auto;
  transition: transform 0.3s ease;
  /* 確保圖片在容器中居中 */
  position: absolute;
  top: 12%;
  left: 50%;
  // transform: translate(-50%, -150%) scale(0.2) ;
}


.text-content {
  z-index: 10;
  width: 90%;
  position: absolute;
  top: 3%; /* 或者根據您的需求進行調整 */
  left: 0; /* 或者根據您的需求進行調整 */
  transform: translate(-70%, 0);
  /* 根據需要添加額外的樣式來控制外觀 */
}


/* 平板裝置介面的樣式 */
@media (min-width: 768px) and (max-width: 991px) {
  .sticky-zoom-container {
    position: -webkit-sticky;
    display: flex;
    align-items: center;
    position: sticky;
    top: 10%;
    height: 180vh;
    overflow: hidden;
  }
  
  .sticky-image {
    position: relative;
    /* 設置初始寬度較小 */
    width: 25%; /* 根據您的需求調整此值 */
    height: auto;
    transition: transform 0.3s ease;
    /* 確保圖片在容器中居中 */
    position: absolute;
    top: 15%;
    left: 50%;
    // transform: translate(-50%, -150%) scale(0.2) ;
  }
  
  
  .text-content {
    z-index: 10;
    width: 90%;
    position: absolute;
    top: 12%; /* 或者根據您的需求進行調整 */
    left: 0; /* 或者根據您的需求進行調整 */
    transform: translate(-70%, 0);
    /* 根據需要添加額外的樣式來控制外觀 */
  }
}

/* 電腦介面的樣式 */
@media (min-width: 992px) {
  .sticky-zoom-container {
    position: -webkit-sticky;
    display: flex;
    align-items: center;
    position: sticky;
    top: 10%;
    height: 300vh;
    overflow: hidden;
  }
  
  .sticky-image {
    position: relative;
    /* 設置初始寬度較小 */
    width: 10%; /* 根據您的需求調整此值 */
    height: auto;
    transition: transform 0.3s ease;
    /* 確保圖片在容器中居中 */
    position: absolute;
    top: 10%;
    left: 50%;
    // transform: translate(-50%, -150%) scale(0.2) ;
  }
  
  
  .text-content {
    z-index: 10;
    width: 90%;
    position: absolute;
    top: 5%; /* 或者根據您的需求進行調整 */
    left: 0; /* 或者根據您的需求進行調整 */
    transform: translate(-70%, 0);
    /* 根據需要添加額外的樣式來控制外觀 */
  }
}